<div class="listRow">
    <h5 class="thisMonth tag">This Month {{formatSequelDate expiration_date}}</h5>
    <h5>{{product_name}}</h5>
    <h5>{{category.category_name}}</h5>
    <h5>Purchased: {{formatSequelDate date_purchased}}</h5>
    <h5 class="deleteX">X</h5>
</div>