<section>
    <div>
        <h3>Hello User!</h3>
    </div>
    <div class="itemEntryCard">
        <h4>Item Entry</h4>
        <form class="addItemForm">
            <div class="form-group">
                <label for="itemName">Item Name</label><br>
                <input class="addItemInput" type="text" id="itemName" placeholder="Apples">
            </div>
            <div class="form-group">
                <label for="itemCategory">Category</label><br>
                <select class="addItemCategory" id="itemCategory">
                    <option value="4">Cupboard</option>
                    <option value="1">Fridge</option>
                    <option value="2">Freezer</option>
                    <option value="3">Produce</option>
                </select>
            </div>
            <div class="form-group">
                <label for="purchaseDate">Date Purchased (Leave blank for today)</label><br>
                <input class="addItemInput" type="text" id="purchaseDate" placeholder="D/M/YYYY">
            </div>
            <div class="form-group">
                <label for="expirationDate">Expiration Date</label><br>
                <input class="addItemInput" type="text" id="expirationDate" placeholder="D/M/YYYY">
            </div>
            <div class="form-group">
                <button class="addItemBtn" type="submit" id="addItemBtn">Add Item</button>
            </div>
        </form>
    </div>
</section>