<section class="sectionContent">
    <div>
        <h3>Hello User!</h3>
    </div>
    <div class="listContainer">
        <h4>Expired!</h4>
        <div class="listRow">
            <h5 class="expired">Exp. 8/17/2021</h5>
            <h5>Apples</h5>
            <h5>Produce</h5>
            <h5 class="deleteX">X</h5>
        </div>
    </div>
    <div class="listContainer">
        <h4>Still Usable</h4>
        <div class="listRow">
            <h5 class="thisWeek">This Week 8/25/2021</h5>
            <h5>Orange Juice</h5>
            <h5>Fridge</h5>
            <h5>Purchased: 8/10/2021</h5>
            <h5 class="deleteX">X</h5>
        </div>
        <div class="listRow">
            <h5 class="thisMonth">This Month 9/4/2021</h5>
            <h5>Cereal</h5>
            <h5>Cupboard</h5>
            <h5>Purchased: 8/10/2021</h5>
            <h5 class="deleteX">X</h5>
        </div>
        <div class="listRow">
            <h5 class="noRush">No Rush 10/30/2021</h5>
            <h5>Ice Cream</h5>
            <h5>Freezer</h5>
            <h5>Purchased: 8/10/2021</h5>
            <h5 class="deleteX">X</h5>
        </div>
    </div>
</section>