<section class="sectionContent">
    <div>
        <h3>Hello User!</h3>
    </div>
    <div class="listContainer">
        <h4>Expired!</h4>
        <div class="listRow">
            <h5 class="expired">Exp. 10/30/2021</h5>
            <h5>Apples</h5>
            <h5>Produce</h5>
            <h5 class="deleteX">X</h5>
        </div>
    </div>
</section>